altair
pandas
streamlit
streamlit-option-menu
streamlit_timeline
# streamlit-vis-timeline # old version timeline
setuptools
python-dotenv
google-generativeai
google-cloud-aiplatform
google-cloud-logging
python-docx